<a routerLink="/menu-item-detail/{{categoryId}}/{{item.id}}">
	<div class="card">
		<div class="card-body">
			<div class="card-title">{{item.name}}</div>
			<div class="card-text">({{item.info}}) <span class="float-right">{{item.price}} EUR</span></div>
		</div>
	</div>
</a>
