<li *ngFor="let category of menu" class="list-group-item">
	<h3 class="center">{{category.name}}<img src="assets/{{category.name}}/{{category.image}}" width="30" height="30" alt=""></h3>
	<menu-category *ngFor="let i of category.items" [item]="i" [categoryId]="category.id"></menu-category>
</li>
