<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand mb-0 h1" href="#">
		<img src="assets/bootstrap-solid.svg" width="30" height="30" alt="">
		Angular Restaurant
	</a>
</nav>
<div class="container">
	<div class="section">
		<router-outlet></router-outlet>
	</div>
</div>