<ul class="nav">
	<li class="nav-item">
		<button type="button" class="btn btn-lg" (click)="goBack()">&lt;</button>
	</li>
	<li class="nav-item">
		<h4>{{item.name}}</h4>
	</li>
</ul>
<div class="container">
	<p class="item-info">
		<img src="assets/{{category.name}}/{{item.image}}" width="30" height="30" alt="">({{item.info}})
	</p>
	<div class="row">
		<div class="col">
			<h3>Crust</h3>
			<ul class="list-group">
				<li class="list-group-item">Fluffy</li>
				<li class="list-group-item">Crispy</li>
			</ul>
		</div>	
	</div>
	<div class="row">
		<div class="col">
			<h3>Extra Toppings</h3>
			<ul class="list-group">
				<li class="list-group-item" (click)="toggleExtraTopping('corn')">Corn <span class="float-right">+0.70 EUR</span></li>
				<li class="list-group-item" (click)="toggleExtraTopping('mozzarella')">Mozzarella <span class="float-right">+1.20 EUR</span></li>
			</ul>
		</div>	
	</div>	
</div>
<div class="container">
	<h3 class="total text-center">
		Total: <span class="total-price">{{item.price}}</span> EUR
	</h3>
</div>
