.nav {	
	margin-bottom: 0.5em;
	box-shadow: 0px 4px 2px #888;
}

	.nav-item h4 {
		line-height: 1.6em;
		padding-left: 1em;
		padding-right: 1em;
	}

.nav .btn {
	background: none;
	border-right: solid 1px #ccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

li:hover {
	background-color: #ccc;
}

.container {
	background-color: #eee;
}

.item-info {
	padding-top: 0.5em;
}

.total {
	padding: 1em;
}